body {
    background-color: #591f1f ;
}
h1, p {
    text-align: center;
    color: #5bf5ad;
}
.nameHome {
    font-size: 500%;
    font-family: 'Brush Script MT', cursive;
    font-weight: 50%;
}
p{

}
.navButton {
    border: 2px solid #5bf5ad;
    color:#591f1f;
    text-align: center;
    background-color: rgba(0, 0, 0, 75%);
    color: white;
    font-size: 20px;
    padding: 16px;
    border-radius: 12px;

}
.buttonBox {
    width:100px;
    margin: auto;
}