body {
    background: rgb(50,4,4);
    background: radial-gradient(circle, rgba(50,4,4,1) 68%, rgba(0,0,0,1) 100%);
}
h1, p {
    text-align: center;
    color: #5bf5ad;
}
.nameHome, .title {

    text-align: center;
    color: rgb(0, 255, 157);
    font-size: 500%;
    font-family: 'Brush Script MT', cursive;
    font-weight: 50%;
    font-kerning: auto;
    border: 2px solid #000000;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 6px;
    background: rgb(50,4,4);
    background: radial-gradient(circle, rgba(50,4,4,1) 0%, rgba(62,77,60,1) 85%, rgba(76,163,126,1) 100%);
}

.title {
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 0;
}
p{

}
.navButton {
    border: 2px solid #5bf5ad;
    color:#591f1f;
    text-align: center;
    background-color: rgba(0, 0, 0, 75%);
    color: white;
    font-size: 16px;
    padding: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 0.5s;


    }

.buttonCurrent {
        border: 2px solid #000000;
        color:#591f1f;
        text-align: center;
        background-color: rgba(0, 0, 0, 75%);
        color: white;
        font-size: 16px;
        padding: 16px;
        border-radius: 12px;
        cursor: pointer;
        transition-duration: 0.5s;
    
    
        }
    
.navButton:hover {
        background-color: #5bf5ad;
        color: black;
        border-color: black;
    }



.buttonBox {
    width: 50%;
    margin: auto;
    padding: 5px;
    text-align: center;
}

.intro {
    width: auto;
    margin: auto;
    font-size: 20px;
    padding: 0px;
    border: 0px solid #5bf5ad;
    margin-left: 35%;
    margin-right: 35%;
}